<% provide(:title,"Contact") %>
<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <h1>Contact</h1>
        <p>
            Contact hours anywher ebetween 9am - 3pm
        </p>
    </body>
</html>